In [3]:
data = {
    'customer_id': [1, 1, 2, 2, 3, 3, 3],
    'order_id': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    'order_date': ['2022-01-01', '2022-03-15', '2022-01-10', '2022-04-20', '2022-02-10', '2022-06-01', '2022-08-15'],
    'revenue': [120, 80, 150, 90, 200, 250, 300]
}

import pandas as pd

df = pd.DataFrame(data)

df['order_date'] = pd.to_datetime(df['order_date'])
df

   customer_id  order_id order_date  revenue
0            1      1001 2022-01-01      120
1            1      1002 2022-03-15       80
2            2      1003 2022-01-10      150
3            2      1004 2022-04-20       90
4            3      1005 2022-02-10      200
5            3      1006 2022-06-01      250
6            3      1007 2022-08-15      300

In [7]:
mdf = df.groupby('customer_id').agg({
    'revenue' : 'sum',
    'order_id' : 'count',
    'order_date' : lambda x:(x.max()-x.min()).days
}).reset_index()

mdf['avg_order_value'] = mdf['revenue'] / mdf['order_id']
mdf['customer_lifespan_years'] = mdf['order_date'] / 365
mdf['cltv'] = mdf['avg_order_value'] * mdf['order_id'] * mdf['customer_lifespan_years']

mdf[['customer_id', 'cltv']]

   customer_id        cltv
0            1   40.000000
1            2   65.753425
2            3  382.191781