In [37]:
import pandas as pd

df_all = pd.read_excel('Data/Complaints.xlsx', sheet_name=None)

In [38]:
df = pd.merge(df_all['Brokers'], df_all['Complains Data'], how='outer', on='BrokerID')

df = pd.merge(df, df_all['Products'], how='outer', on='ProductID')

In [39]:
df_bancassurance = df[(df.DistributionNetwork == 'Bancassurance') & (pd.to_datetime(df['CompletionDate']).dt.year == 2011)]

df_ban_all  = df_bancassurance.groupby('ProductCategory').size().rename('all').reset_index()
df_ban_sat = df_bancassurance[df_bancassurance['ClientSatisfaction'] == 'SAT'].groupby('ProductCategory').size().rename('sat').reset_index()
df_ban_all = pd.merge(df_ban_all, df_ban_sat, how='left', on='ProductCategory')
df_ban_all["Bancassurance"] = (df_ban_all['sat'] / df_ban_all['all'] * 100).astype(float).round(2)
df_ban_all = df_ban_all[['ProductCategory', 'Bancassurance']]

df_ban_all

        ProductCategory  Bancassurance
0              Business          42.86
1  Capital Accumulation          56.25
2     Family Protection            NaN
3                Health          37.50
4                  Life            NaN
5             Mortgaged            NaN
6                 Motor          50.00
7                 Other            NaN

In [40]:
df_broker = df[(df.DistributionNetwork == 'Brokers') & (pd.to_datetime(df['CompletionDate']).dt.year == 2011)]

df_bro_all  = df_broker.groupby('ProductCategory').size().rename('all').reset_index()
df_bro_sat = df_broker[df_broker['ClientSatisfaction'] == 'SAT'].groupby('ProductCategory').size().rename('sat').reset_index()
df_bro_all = pd.merge(df_bro_all, df_bro_sat, how='left', on='ProductCategory')
df_bro_all["Broker"] = (df_bro_all['sat'] / df_bro_all['all'] * 100).astype(float).round(2)
df_bro_all = df_bro_all[['ProductCategory', 'Broker']]

df_bro_all

        ProductCategory  Broker
0              Business   50.00
1  Capital Accumulation   48.28
2                Health   10.00
3                  Life     NaN
4             Mortgaged   33.33
5                 Motor   33.33
6                 Other  100.00
7              Property   50.00

In [41]:
df_direct= df[(df.DistributionNetwork == 'Direct') & (pd.to_datetime(df['CompletionDate']).dt.year == 2011)]

df_direct_all  = df_direct.groupby('ProductCategory').size().rename('all').reset_index()
df_direct_sat = df_direct[df_direct['ClientSatisfaction'] == 'SAT'].groupby('ProductCategory').size().rename('sat').reset_index()
df_direct_all = pd.merge(df_direct_all, df_direct_sat, how='left', on='ProductCategory')
df_direct_all["Direct"] = (df_direct_all['sat'] / df_direct_all['all'] * 100).astype(float).round(2)
df_direct_all = df_direct_all[['ProductCategory', 'Direct']]

df_direct_all

        ProductCategory  Direct
0              Business   45.45
1  Capital Accumulation   53.66
2     Family Protection   50.00
3                Health   48.72
4                  Life   33.33
5             Mortgaged   50.00
6                 Motor   50.00
7                 Other   50.00
8              Property   66.67

In [42]:
df_all = pd.merge(df_ban_all, df_bro_all, how='left', on='ProductCategory')
df_all = pd.merge(df_all, df_direct_all, how='left', on='ProductCategory')

df_all

        ProductCategory  Bancassurance  Broker  Direct
0              Business          42.86   50.00   45.45
1  Capital Accumulation          56.25   48.28   53.66
2     Family Protection            NaN     NaN   50.00
3                Health          37.50   10.00   48.72
4                  Life            NaN     NaN   33.33
5             Mortgaged            NaN   33.33   50.00
6                 Motor          50.00   33.33   50.00
7                 Other            NaN  100.00   50.00

In [43]:
df_all.to_csv('Data/ComplaintsAll.csv', index=False)