In [ ]:
import pandas as pd

df = pd.read_csv('data/data_jobs.csv')

In [ ]:
df_cleaned = df.dropna()

In [ ]:
df_filled = df.fillna(0)
df_filled.iloc[:10,11:14]

In [ ]:
df_unique = df.drop_duplicates(subset=['job_title'])

df_unique.head()

# Pivot Table

In [ ]:
import matplotlib.pyplot as plt

# pivot version
df_job_country_salary = df.pivot_table(
    values='salary_year_avg',        # The data to aggregate
    index='job_country',             # Rows (index of pivot table)
    columns='job_title_short',       # Columns (pivot table headers)
    aggfunc='median'                 # Aggregation function
)

print(df_job_country_salary)

top_countries = df.groupby('job_country').size().sort_values(ascending=False).head(6).index

job_titles = ['Data Analyst', 'Data Engineer', 'Data Scientist']

df_job_country_salary = df_job_country_salary.loc[top_countries]

df_job_country_salary = df_job_country_salary[job_titles]

df_job_country_salary.plot.bar()

In [ ]:
df = pd.read_csv('data/data_jobs.csv')
df['job_month'] = (pd.to_datetime(df['job_posted_date'])).dt.month

In [ ]:
job_title_short_count_by_month = df.pivot_table(index='job_month', columns='job_title_short', aggfunc='size')

top_three_job = df['job_title_short'].value_counts().head(3).index

job_title_short_count_by_month = job_title_short_count_by_month[top_three_job]

job_title_short_count_by_month.plot()

plt.legend()
plt.show()

In [ ]:
developer_jobs = df[df.job_title_short.str.contains("Software")].pivot_table(
    index='job_month', columns='job_title_short', aggfunc='size'
)

jobs = pd.concat([developer_jobs, job_title_short_count_by_month], axis=1)

jobs.plot(kind="line", marker='o')

plt.legend()
plt.show()

In [ ]:
data = {
    'job_title_short': ['Data Analyst', 'Data Scientist', 'Data Engineer'],
    'job_skills': [['excel', 'sql', 'python'], ['python', 'r'], ['aws', 'python', 'airflow']]
}


df = pd.DataFrame(data)


df_exploded = df.explode('job_skills')

df_exploded


df_exploded['job_skills'].value_counts().plot(kind="bar")

In [ ]:
import pandas as pd
df = pd.read_csv('data/data_jobs.csv')

import ast

df['job_skills'] = df['job_skills'].dropna().apply(lambda x: ast.literal_eval(x))

df['job_month_no'] = pd.to_datetime(df['job_posted_date']).dt.month

In [ ]:
da_df = df[df['job_title_short'] == 'Data Analyst']

In [ ]:
da_df = da_df.explode('job_skills')

In [ ]:
da_pivot = da_df.pivot_table(
    index='job_month_no', columns='job_skills', aggfunc='size'
).fillna(0)

da_pivot.loc['Total'] = da_pivot.sum()

da_pivot = da_pivot[da_pivot.loc['Total'].sort_values(ascending=False).index]

da_pivot.drop('Total', inplace=True)

In [ ]:
da_pivot.iloc[:, :5].plot()

In [ ]:
da_df = df[df['job_title_short'] == 'Data Analyst']

In [ ]:
da_df = da_df.groupby('job_work_from_home').size()

plt.pie(da_df, labels=["True", "False"], autopct='%.1f')

plt.show()

In [ ]:
import pandas as pd
import ast

df = pd.read_csv('data/data_jobs.csv')

df['job_skills'] = df['job_skills'].dropna().apply(lambda x: ast.literal_eval(x))

In [ ]:
df_highest_paid = df[df['job_title_short'] == 'Data Analyst']

df_highest_paid.explode('job_skills')

In [ ]:
df[['salary_year_avg', 'job_skills']]