In [4]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mssql+pyodbc://STEPHEN-SIM\SQLEXPRESS/CatViP?driver=SQL Server')

In [7]:
df = pd.read_sql_query("SELECT * FROM Users WHERE username = 'admin'", engine)

df

,Id,Username,FullName,Email,Password,Gender,DateOfBirth,Address,ProfileImage,Longitude,Latitude,CreatedTime,RememberToken,TokenCreated,TokenExpires,RoleId
0,1,admin,CatViP Admin,admin@catvip.my,$2a$11$tJQmZAwwj/SHsIQZ19lZkeqmWAOtvZVkNvT5Xv3...,True,2000-01-01,None,None,None,None,2023-12-01 00:00:00.0000000,None,None,None,1